@charset "ISO-8859-1";

body {
	background-image: url('../img/AdformBackground.jpg');
	background-position: center center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

label{
	color:white;
}

h1,h2,p{
	color:white;
	margin-left: 16px
}