<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JobAdvisorNew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DammiAd</display-name>
    <servlet-name>DammiAd</servlet-name>
    <servlet-class>com.jobadvisor.controller.DammiAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DammiAd</servlet-name>
    <url-pattern>/annuncio/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DammiAdAPI</display-name>
    <servlet-name>DammiAdAPI</servlet-name>
    <servlet-class>com.jobadvisor.controller.api.DammiAdApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DammiAdAPI</servlet-name>
    <url-pattern>/api/annuncio/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DammiReviewAPI</display-name>
    <servlet-name>DammiReviewAPI</servlet-name>
    <servlet-class>com.jobadvisor.controller.api.DammiReviewApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DammiReviewAPI</servlet-name>
    <url-pattern>/api/review/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DammiSingleReviewAPI</display-name>
    <servlet-name>DammiSingleReviewAPI</servlet-name>
    <servlet-class>com.jobadvisor.controller.api.DammiSingleReviewApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DammiSingleReviewAPI</servlet-name>
    <url-pattern>/api/singleReview/*</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>DammiUserAPI</display-name>
    <servlet-name>DammiUserAPI</servlet-name>
    <servlet-class>com.jobadvisor.controller.api.DammiUserApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DammiUserAPI</servlet-name>
    <url-pattern>/api/user/*</url-pattern>
  </servlet-mapping>
</web-app>